<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action=<%="/posts/#{@post.id}"%> method="post">
	<input id="hidden" type="hidden" name="_method" value="patch">
	<p>Name: <input value="<%=@post.name%>" type="text" name="name"></p>
	<p>Content: <input value="<%=@post.content%>" type="text" name="content"></p>
	<button>submit</button>
	</form>
</body>
</html>