<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<%@posts.each do |post|%>
		<p><%=post.name%></p>
		<p><%=post.content%></p>
	<%end%>
	<%if @deleted%>
		<p><%=@deleted.name%> was deleted</p>
	<%end%>
</body>
</html>