<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="POST" action="/posts">
	<p>Name: <input placeholder="Type Name Here" type="text" name="name"></p>
	<p>Content: <input placeholder="Type Content Here" type="text" name="content"></p>
	<button>submit</button>
	</form>
</body>
</html>