<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p><%=@post.name%></p>
	<p><%=@post.content%></p>
	<form action=<%="/posts/#{@post.id}/delete"%> method="post">
		<input id="hidden" type="hidden" name="_method" value="delete">
		<button>delete</button>
	</form>
</body>
</html>